<%- include('../partials/header') %>

<div class="textBoxSpacingIndex">
    <div class="row">
        <div id="readers" class="col s12">
            <% readers.forEach(function(reader){ %>
                <div class="car blue=grey">
                    <div class="card-content white-text">
                        <div>
                            <span class="card-title">
                                <% if (reader.avatar) { %>
                                    <img src="<%= reader.avatar %>" alt="profile avatar" class="circle responsive-img" width= "50">
                                  <% } else { %>
                                    <i class="small material-icons">perm_identity</i>
                                  <% } %>
                                  <span class="reader-name"><%= reader.name %></span>
                            </span>
                        </div>
                          <ul class="collection">
                            <% reader.books.forEach(function(book) { %>
                              <li class="collection-item blue-grey-text text-darken-2"><%- book.text %></li>
                            <% }) %>
                          </ul>
                            
                     </div>
                 </div>
           <% }) %>
         </div>
     </div>
</div>

</div>
</div>
</div>
</body>
</html>