<%- include('../partials/header') %>
  <div class="header">
    <div class="inner_header">
        
    </div>
  </div>
<div class="textBoxSpacingIndex">
    <div class="row">
        <div id="readers" class="col s12">
            <% readers.forEach(function(reader){ %>
                <div class="car blue=grey">
                    <div class="card-content white-text">
                        <div>
                            <span class="card-title">
                                <% if (reader.avatar) { %>
                                    <img src="<%= reader.avatar %>" alt="profile avatar" class="circle responsive-img" width= "50">
                                  <% } else { %>
                                    <i class="small material-icons">perm_identity</i>
                                  <% } %>
                                  <span class="reader-name"><%= reader.name %></span>
                            </span>
                        </div>
                        <ul class="collection">
                            <% reader.books.forEach(function(book) { %>
                              <li class="collection-item blue-grey-text text-darken-2"><%- book.text %></li>
                            <% }) %>
                          </ul>
                          <% if (reader._id.equals(user && user._id)) { %>
                            <div class="card-action">
                              <form action="/books" method="POST">
                                <input type="text" name="text" class="white-text">
                                <button type="submit" class="btn white-text">Add Book</button>
                              </form>
                            </div>
                          <% } %>
                    </div>
                </div>
           <% }) %>
        </div>

    </div>
  </div>

</div>
</div>
</div>
</body>
</html>