<%- include('../partials/header') %>
<br><br><br><br>
<form action="/readers/books" method="POST">
    <input type="text" name="text" id="">
    <input type="submit" value="Add Book">
</form>
</body>
</html>